h2 {
    color: greenyellow;
    background-color: cadetblue;
}

.titles {
    color: red;
}

.titles:hover {
    background-color: blue;
}

#paras {
    color: aqua;
    font-weight: bold;
    font-style: italic;
}

body {
    background-color: rgb(227, 173, 173);
}