
/* We use the 'element name' to work on the 'elemnt' selectors*/
h2 {
    color: greenyellow;
    background-color: cadetblue;
}


/* We use the '.' to work on the 'class' selectors*/
.titles {
    color: red;
}

.titles:hover {
    background-color: blue;
}


/* We use the '#' to work on the 'ID' selectors*/
#paras {
    color: aqua;
    font-weight: bold;
    font-style: italic;
}

body {
    background-color: rgb(227, 173, 173);
}